
<div class="col-md-6">
  <h1>
    All Photos
  </h1>

  <a href="/photos/new">
    Add a new photo
  </a>

    <div class="thumbnail">
      <% @all_photos.each do |photo| %>
        <div>
          <img src="<%= photo.source %>"></img>
        </div>
        <div class="caption">
          <a href = "/photos/<%= photo.id %>" class="btn btn-default btn-block">
            Show Details
          </a>

          <a href = "/photos/<%= photo.id %>/edit" class="btn btn-default btn-block">
            Edit
          </a>
    
          <a href = "/delete_photo/<%= photo.id %>" class="btn btn-default btn-block">
            Delete
          </a>
        </div>
    </div>  
</div>

<% end %>