<!DOCTYPE html>
<html>
  <head>
    <title>PhotogramGoldenSeven</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      
    <!--<link rel="stylesheet" href=https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css>-->
    <!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    
      <%= yield %>
    </div>

    <div class="rails-toolbar">
      <a href="/rails/git" target="_blank" class="rails-toolbar-button">
        Git
      </a>
    </div>
  </body>
</html>
